<div class="container border" *ngIf="openFile">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col">
                    <h5>Name: </h5>
                </div>
                <div class="col">
                    <p>{{openFile.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Type: </h5>
                </div>
                <div class="col">
                    <p>{{openFile.type}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Date added: </h5>
                </div>
                <div class="col">
                    <p>{{openFile.created | date:'medium'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>File size</h5>
                </div>
                <div class="col">
                    <p>{{openFile.size}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Tags: </h5>
                </div>
                <div class="col">
                    <p>{{openFile.tags}}</p>
                </div>
            </div>
        </div>
        <button (click)="share()">Share</button>
    </div>
</div>
