<div class="text-center container-fluid">
  <form class="form-signin" (ngSubmit)="Login()" #userForm="ngForm">
    <img class="mb-4" src="http://www.pngmart.com/files/7/Ice-Cube-PNG-HD.png" alt="" width="200" height="200">
      <p style="font-size:75px">Icebox</p>
        <label for="inUsername" class="sr-only">Username</label> 
        <input id="inUsername" class="form-control" type="text" name="user" required [(ngModel)] ="user.username" placeholder="Username" required autofocus/>

        <label for="inPassword" class="sr-only">Password: </label> 
        <input id="inPassword" class="form-control" type="password" name="password" required [(ngModel)]="user.pass" placeholder="Password" required/>
        <div *ngIf="incorrect" class="alert alert-danger">Incorrect Login Information</div>

        <span class="col-md-7">Don't have an account? <a href="register">Register Here.</a></span>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Log in</button>

        <p class="mt-5 mb-3 text-muted">&copy;Team Null 2019</p>
  </form>
</div>

