<p>
  Comments
</p>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="border-top-0">Sender</th>
      <th scope="col" class="border-top-0">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of comments">
      <td>{{c.sender.username}}</td>
      <td>{{c.comment}}</td>
    </tr>
  </tbody>
</table>
<form (ngSubmit)="addComment()" class="w-100">
  <div class="input-group mb-3">
    <input id="addComment" name="commentIn" type="text" class="form-control" required [(ngModel)]="comment.comment" required placeholder="Add a comment." />
    <div class="input-group-append"><button class="btn btn-primary" type="submit">Add Comment</button></div>
  </div>
</form>
