html, body {
    height: 100%!important;    
    margin:0;
    padding:0;
}

.container-fluid{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.form-registration{
    margin: auto;
}

.page-header{
    margin: auto;
}

.icebox{
    margin: auto;
}
