<form action="user" method="post">
  <div class="form-group">
      <label for="inputUname">Username:</label>
      <input id="inputUname" class="form-text" type="text" name="username" placeholder="JSmith360"/>
  </div>
  <div class="form-group">
      <label for="inputPass">Password:</label>
      <input id="inputPass" class="form-text" type="text" name="pass" placeholder="hunter2"/>
  </div>
  <div class="form-group">
      <label for="inputFn">First name:</label>
      <input id="inputFn" class="form-text" type="text" name="fname" placeholder="John"/>
  </div>
  <div class="form-group">
    <label for="inputLn">Last name:</label>
    <input id="inputLn" class="form-text" type="text" name="lname" placeholder="Smith"/>
</div>
<div class="form-group">
  <label for="inputEm">Email:</label>
  <input id="inputEm" class="form-text" type="text" name="email" placeholder="JSmith@email.com"/>
</div>
  <input type="submit" class="btn btn-primary" value="submit"/>
</form>