<!-- Add the angular router -->
<router-outlet></router-outlet>

<!-- Add the top navigation bar -->
<app-nav-bar></app-nav-bar>
<!-- Wrap everyting in a container -->
<div class="container-fluid">
  <!-- Make a row -->
  <div class="row">
    <!-- Column for the file and folder table -->
    <div class="col-lg-8 px-0">
      <!-- Table for files and folders -->
      <app-directory id="content" [folderId]="folderId" [searchStr]="searchStr" [uploadedFile]="uploadedFile" [createdFolder]="createdFolder" (selectedFile)="onFileSelected($event)"></app-directory>
    </div>
    <!-- Column for the currently selected file info -->
    <div class="col-lg-4 px-0">
      <!-- Table for the create folder and upload buttons -->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="border-top-0 th-md-btn">
              <!-- Import the new folder button -->
              <app-folder [currentFolderId]="folderId" (folderCreated)="onFolderCreated($event)"></app-folder>
            </th>
            <th scope="col" class="border-top-0 th-md-btn">
              <!-- Import the upload button -->
              <app-upload [folderId]="folderId" (fileUploaded)="onFileUploaded($event)"></app-upload>
            </th>
          </tr>
        </thead>
      </table>
      <!-- Display the selected file -->
      <app-file *ngIf="fileId !== 0" [selectedFile]="selectedFile"></app-file>
    </div>
  </div>
</div>
