<div class="card" *ngIf="selectedFile">
  <h5 class="card-header">{{ selectedFile.name }}</h5>
  <div class="card-body">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

    <dl class="row">
      <dt class="col-sm-4">Type:</dt>
      <dd class="col-sm-8">{{ selectedFile.type }}</dd>

      <dt class="col-sm-4">Created:</dt>
      <dd class="col-sm-8">{{ selectedFile.created | date: 'medium' }}</dd>

      <dt class="col-sm-4">Size:</dt>
      <dd class="col-sm-8">{{ selectedFile.size | bytes }}</dd>

      <dt class="col-sm-5">Tags:</dt>
      <dd class="col-sm-8">
        <span class="badge badge-pill badge-primary" *ngFor="let t of selectedFile.tags" style="margin-left: 5px" (click) = "delete_tag(t)">{{ t.name }}</span>
      </dd>
    </dl>
    <div class="row">
      <form (ngSubmit)="add_tag()" class="w-100">
        <div class="input-group mb-3">
          <input id="addTag" name="tag" type="text" class="form-control" required [(ngModel)]="tag.name" required placeholder="Tag Name" />
          <div class="input-group-append"><button class="btn btn-primary" type="submit">Add Tag</button></div>
        </div>
      </form>
    </div>
    <div class="row">
          <div class="col pl-0 pr-1">
              <app-download [file]="selectedFile"></app-download>
          </div>
      <div class="col px-1">
        <button class="btn btn-success w-100 h-100" (click)="share()"><i class="fas fa-share-alt"></i> Share</button>
      </div>
      <div class="col pl-1 pr-0">
        <button class="btn btn-danger w-100 h-100"><i class="fas fa-trash-alt"></i> Delete</button>
      </div>
    </div>
    <app-comment [selectedFile]="selectedFile"></app-comment>
  </div>
</div>

