<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="border-top-0">Name</th>
      <th scope="col" class="border-top-0">Modified</th>
      <th scope="col" class="border-top-0">Size</th>
      <th scope="col" class="border-top-0">Actions</th>
    </tr>
    <!-- <td>
        <button class="btn btn-secondary" id="backButton"> Back </button>
      </td> --> <!--Maybe impliment this later-->
    </thead>
    <tbody>
      <!-- Display all folders -->
      <tr *ngFor="let f of folders" (dblclick)="enterFolder(f.id)">
        <td><i class="fas fa-folder-open"></i>  {{f.name}}</td>
        <td>--</td> <!--Modified not implemented for folders-->
        <td>--</td> <!--File size not implemented for folders-->
        <td>
          <button class="btn btn-danger" (click)="removeFolder(f.id)"> X </button>
        </td>
      </tr>

    <!--Files display here-->
    <tr *ngFor="let f of files" (click)="selectFile(f)">
      <td class="text-wrap" style="width: 6rem;" (dblclick)="enterFile(f.folder.id , f.id)"><i class="fas fa-file"></i>
        {{ f.name }}
      </td>
      <td>{{ f.created | date: 'medium' }}</td>
      <td>{{ f.size | bytes }}</td>
      <td><button class="btn btn-danger" (click)="removeFile(f.id)">X</button></td>
    </tr>
  </tbody>
</table>

